%form{action: "/admin/create-admin", method: "POST"}
  %li
    %label Email
    %input{"..." => "", name: "email", id: 'email'}
  %li
    %label Password
    %input{type: 'password', "..." => "", name: "password", id: 'password'}
  %li
    %label Password Confirmation
    %input{type: 'password', "..." => "", name: "password_confirmation", id: 'password_confirmation'}
  %input{type: "submit", value: "Create Admin", id: 'create_admin'}