.answer_fields
  .row
    .col-md-2
    .col-md-10
      .row.field-margin
        %input{type: "text", "..." => "", name: "[question][0][answer][#{answer_id}][response]", class: "answer_text"}
      .row
        %input{type: "file", name: "[question][0][answer][#{answer_id}][file]", value: "", id: "answer_image"}
      .row
        %ul
          %li{style: "float: left;"}
            %label.correct_answer_label 
          %li{style: "float: left;"}
            Correct Answer?
          %li{style: "float: left; margin-left: 10px;"}
            %input{type: "checkbox", name: "question[0][answer][#{answer_id}][correctness]", class: "checkbox"}
      .row
        %button{ href: "#", class: "remove_answer btn btn-danger set-btn-width", name: "remove_answer" }
          Remove Answer