%h2
  Quizzes

- @quizzes.each do |quiz|
  .quiz
    %a{href: "quizzes/#{quiz.id}"} 
      = quiz.title
    %a{ href: "quizzes/#{quiz.id}/edit", class: "edit" } Edit
    %form{method: "post", action: "/quizzes"}
      %input{type: "hidden", name: "_method", value: "delete"}
      %input{type: "hidden", name: "quiz_id", value: "#{quiz.id}"}
      %input{type: "submit", value: "Delete Quiz"}