.col-md-12.admin_banner_image.new_quiz_banner
.col-md-12.dark-geometric
  .col-md-10.col-md-offset-1
    .row
      %h2
        .quiz-index-title
          Create Quiz

    %form{action: '/quizzes/new', method: "POST", :"accept-charset" => "utf-8", enctype: "multipart/form-data", id: "new-quiz"}
      .row
        .col-md-10
          .row
            %label.quiz_title_field Title
          .row
            %input{type: "text", "..." => "", name: "title", id: "title"}
          .row
            %label.display_quiz_label Display Quiz on Landing Page?
            %input{type: "checkbox", name: "displayed", class: "display_checkbox"}
      #questions
        = partial :"/quizzes/_question_fields"

        .add_question_fields
          .row
            .col-md-1
            .col-md-10
              .row.field-margin
                %button{ type: "button", class: "set-btn-width btn btn-primary add_question", value: "Add Question"}
                  Add Question

      .row
        .col-md-10
          .row.field-margin
            %input{type: "submit", value: "Create Quiz!", class: "set-btn-width btn btn-success"}

