%h2 
  New Quiz
%form{action: '/quizzes/new', method: "POST"}
  %label Title
  %input{type: "text", "..." => "", name: "title"}
  %label Question
  %input{type: "text", "..." => "", name: "question[][question_text]"}
  %label Answer
  %input{type: "text", "..." => "", name: "[answer][][response]"}
  / %label Question
  / %input{type: "text", "..." => "", name: "question[1][question_text]"}
  / %label Question
  / %input{type: "text", "..." => "", name: "question[2][question_text]"}
  / %label Answer
  / %input{type: "text", "..." => "", name: "question[0][answer][0][response]"}
  / %label Correct Answer?
  / %input{type: "checkbox", name: "question[0][answer][0][correctness]"}
  %input{type: "submit", value: "Submit"}

/ %h2 
/   New Quiz
/ %form{action: '/quizzes/new', method: "POST"}
/   %label Title
/   %input{type: "text", "..." => "", name: "title"}
/   - 3.times do
/     %label Question
/     %input{type: "text", "..." => "", name: "question[][question_text]"}
/     - 4.times do
/       %label Answer
/       %input{type: "text", "..." => "", name: "question[][answer][][response]"}
/       %label Correct Answer?
/       %input{type: "checkbox", name: "question[][answer][][correctness]"}
/   %input{type: "submit", value: "Submit"}