#padding
.row
  %div{class: "span6 offset3"}
    %form{method: "post", action: "/sessions"}
      %fieldset{class: "inset-inputs text-left"}
        %legend
          %span{class: "indicator"}
            Sign In
        %div{class: "control-group string required"}
          %label{class: "string required control-label", for: "email"}
            Email
        %div{class: "controls"}
          %input{class: "string required", size: "50", type: "text", name: 'email'}

        %div{class: "control-group string required"}
          %label{class: "string required control-label", for: "email"}
            Password
        %div{class: "controls"}
          %input{class: "string required", size: "50", type: "password", name: 'password'}
        %input{type: "submit", value: "Sign in"}