%form{action: "/admins/create-admin", method: "POST"}
  %label Email
  %input{"..." => "", name: "email", id: 'email'}
  %label Password
  %input{type: 'password', "..." => "", name: "password", id: 'password'}
  %label Password Confirmation
  %input{type: 'password', "..." => "", name: "password_confirmation", id: 'password_confirmation'}
  %input{type: "submit", value: "Submit", id: 'submit'}