- email = @admin.email

%h2 Edit Details

%form{action: "/admins/#{@admin.id}", method: "POST"}
  %input{type: "hidden", name: "_method", value: "put"}
  %label Email
  %input{"..." => "", name: "email", id: 'email'}
  %label Password
  %input{type: 'password', "..." => "", name: "password", id: 'password'}
  %label Password Confirmation
  %input{type: 'password', "..." => "", name: "password_confirmation", id: 'password_confirmation'}
  %br
  Please type in your current password for authentication
  %label Current Password
  %input{type: 'password', "..." => "", name: "current_password", id: 'password'}
  %input{type: "submit", value: "Submit", id: 'submit'}