- email = @admin.email

%h2 Edit Details

%form{action: "/admins/#{@admin.id}", method: "POST"}
  %input{type: "hidden", name: "_method", value: "put"}
  %label Email
  %input{"..." => "", name: "email", id: 'email'}
  %input{type: "submit", value: "Submit", id: 'submit'}