- @admins.each do |admin|
  .admin
    = admin.email
    - if (admin == @current_admin) || @current_admin.super_admin
      .edit
        %a{ href: "admins/#{admin.id}/edit", class: "edit" } Edit
    - if @current_admin.super_admin
      .delete
        %form{ action: "/admins", method: "post" }
          %input{ type: "hidden", name: "_method", value: "delete" }
          %input{ type: "hidden", name: "admin_id", value: "#{admin.id}" }
          %input{ type: "submit", value: "Delete" }