body {
  /*width: 100%;*/
  color: rgb(94, 94, 94);
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

/****************** NAV BAR *********************/

.nav {
  padding-top: 10px;
  color: #777;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background: none;
  border: none;
}

.nav:hover {
  color: rgb(94, 94, 94);
}

#content {
  /*width: 100%;*/
  margin-top: 40px;
}

#brand {
  position: absolute;
  left: 30px;
  margin-top: -4px;
}

#padding {
  height: 60px;
  width: 100%;
  background-color: white;
}

.nav>li {
  display: inline-block;
  float: left;
}

.white_background {
  width: 100%;
  height: 90px;
  background-color: white;
  overflow: visible;
}


/*NEW QUIZ FORM*/

#title {
  width: 80%;
}

.quiz_title_field {
  font-size: 28;
}

.question_fields {
  margin-left: 10%;
  margin-top: 20px;
}

.question_fields label {
  font-size: 24;
}

.question_fields label {
  width: 10%;
}

.question_text {
  width: 88.888%;
  display: inline-block;
}

.file_input {
  display: inline-block;
}

.correct_answer_checkbox {
  display: inline-block;
}

.answer_fields {
  margin-top: 15px;
  margin-left: 11.111%;
}

.answer_fields label {
  font-size: 20
}

.correct_answer {
  display: inline-block;
  white-space:nowrap;  
}

.correct_answer label {
  font-size: 12;
}

.answer_text {
  width: 100%;
}

.add_answer {
  margin-top: 20px;
  width: 22.2222%;
  margin-left: 11.1111%;
}

.add_question {
  margin-top: 20px;
  width: 20%;
  margin-left: 10%;
}

.create_quiz {
  margin-top: 20px;
  width: 20%;
}

/*********************** SHOW QUIZ PAGE ********************/

.quiz_title {
  text-align: center;
  font-size: 40;
  padding-bottom: 30px;
}

.show_quiz img {
  width: 100%;
}

.show_question_text {
  text-align: center;
  font-size: 25;
}

.show_answer {
  width: 33%;
  padding: 1%;
  position: relative;
  float: left;
}

.show_answer_image {
  width: 100%;
}

.show_answer_text {
  font-size: 14;
}

.edit_and_delete_buttons {
  position: relative;
  width: 100%;
  text-align: center;
}

.edit_button {
  display: inline-block;
  padding: 1%;
}

.delete_button {
  display: inline-block;
  padding: 1%;
}

/******************* Attempts page *****************/

.results_of_quiz {

}
