body {
  /*width: 100%;*/
  color: rgb(94, 94, 94);
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
}

/*NAV BAR*/

.nav {
  padding-top: 10px;
  color: #777;
  font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background: none;
  border: none;
}

.nav:hover {
  color: rgb(94, 94, 94);
}

#content {
  /*width: 100%;*/
  margin-top: 40px;
}

#brand {
  position: absolute;
  left: 30px;
  margin-top: -4px;
}

#padding {
  height: 60px;
  width: 100%;
  background-color: white;
}

.nav>li {
  display: inline-block;
  float: left;
}

.white_background {
  width: 100%;
  height: 90px;
  background-color: white;
  overflow: visible;
}


/*NEW QUIZ FORM*/

#title {
  width: 80%;
}

.quiz_title {
  font-size: 28;
}

/*#questions {
  margin-top: 20px;
}*/

.question {
  margin-left: 10%;
  margin-top: 20px;
}

.question label {
  font-size: 24;
}

.question label {
  width: 10%;
}

.question_text {
  width: 88.888%;
  display: inline-block;
  /*margin-left: 10%;*/
}

.file_input {
  display: inline-block;
}

.correct_answer_checkbox {
  display: inline-block;
}

.answer {
  margin-top: 15px;
  margin-left: 11.111%;
}

.answer label {
  font-size: 20
}


.correct_answer {
  display: inline-block;
  white-space:nowrap;  
}

.correct_answer label {
  font-size: 12;
}

.answer_text {
  width: 100%;
}

.add_answer {
  margin-top: 20px;
  width: 22.2222%;
  margin-left: 11.1111%;
}

.add_question {
  margin-top: 20px;
  width: 20%;
  margin-left: 10%;
}

.create_quiz {
  margin-top: 20px;
  width: 20%;
}

