body {
  /*width: 100%;*/
  color: rgb(94, 94, 94);
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 30px;
}

.error {
  margin-top: 100px;
  position: absolute;
  background-color: rgba(236,24,24,0.4);
  width: 100%;
  padding: 10px 15px;
  line-height: 1em;
  font-size: 1.3em;
  font-weight: lighter;
  color: #fff;
  text-align: center;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

.notice {
  margin-top: 100px;
  position: absolute;
  background-color: rgba(92,184,92,0.4);
  width: 100%;
  padding: 10px 15px;
  line-height: 1em;
  font-size: 1.3em;
  font-weight: lighter;
  color: #fff;
  text-align: center;

  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; /* future proofing */
  -khtml-border-radius: 10px; /* for old Konqueror browsers */
}

/****************** NAV BAR *********************/

.nav {
  padding-top: 10px;
  color: #777;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  background: none;
  border: none;
}

.nav:hover {
  color: rgb(94, 94, 94);
}

#content {
  /*width: 100%;*/
  margin-top: 40px;
}

#brand {
  position: absolute;
  /*left: 3%;*/
  margin-top: -4px;
  padding-top: 10px;
}

#brand img {
  height: 48px;
}

.nav>li {
  display: inline-block;
  float: left;
}

.white_background {
  width: 100%;
  height: 60px;
  background-color: white;
  overflow: visible;
}

.container-fluid {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  max-width: 1160px;
}

.navbar-inner {
  position: relative;
  height: 40px;
/*padding: 10px 0;*/
}

#sign_out_button {
  height: 40px;
}


/****************** HOME PAGE NAV BAR *********************/

.top-apply {
  text-transform: uppercase;
  margin-top: -13px;
  margin-bottom: -13px;
  height: 72px;
  line-height: 60px;
}

.btn-apply{
  color: rgb(255,255,255);
  background-color: rgb(183, 30, 43);
  background-image: linear-gradient(rgb(191, 33, 48), rgb(171, 25, 36));
  background-repeat: repeat-x;
  -webkit-box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px, rgba(255, 255, 255, 0.0470588) 0px 0px 0px 1px inset, rgb(203, 40, 57) 0px 1px 0px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 2px, rgba(255, 255, 255, 0.0470588) 0px 0px 0px 1px inset, rgb(203, 40, 57) 0px 1px 0px 0px inset;
  border: 1px solid rgb(122, 13, 19);
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  text-shadow: rgba(0, 0, 0, 0.4) 0px -1px 0px;
  padding: 5px 30px;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: bold;
  font-size: 12;
}

.m-icon-twitter {
  width: 25px;
  height: 20px;
  background: url(../images/twitter-nav.jpg);
  background-position: 0 -20px;
  position: absolute;
  top: 18px;
}

.m-icon-twitter:hover {
  background-position: 0 0;
}

.nav-background {
  max-height: 60px;
  overflow: visible;
}

.visible-desktop {
 margin-left: -15px;
 margin-right: 9px;
}

/******************* NEW QUIZ FORM ***********************/

#title {
  width: 100%;
}

.quiz_title_field {
  font-size: 28;
}

.question_fields {
  margin-top: 10px;
}

.add_question_fields {
  margin-top: 10px;
}

form ul {
  margin-bottom: 0px;
}

.question_fields label {
  font-size: 24;
}

.question_fields label {
  width: 10%;
}

.question_fields .file_input {
  margin-bottom: 5px;
}

.question_text {
  width: 100%;
  display: inline-block;
}

.file_input {
  display: inline-block;
}

.correct_answer_checkbox {
  display: inline-block;
  margin-top: -5px;
}

.answer_fields {
  margin-top: 5px;
}

.add_answer_fields {
  margin-top: 5px;
}

.answer_fields label {
  font-size: 20
}

.answer_fields ul {
  margin-bottom: 0px;
}

.field-margin {
  margin-top: 20px;
}

.correct_answer {
  display: inline-block;
  white-space:nowrap;  
}

.correct_answer label {
  font-size: 12;
}

.answer_text {
  width: 100%;
}

.add-answer {
  margin-top: 20px;
  width: 100%;
}

.create_quiz {
  margin-top: 20px;
  width: 20%;
}

#new-quiz input {
  height: 30px;
}

.display_quiz_label {
  font-size: 14;
}

.correct_answer_label {
  font-size: 20.5;
}

.checkbox {
  height: 14px;
}

.display_checkbox {
  height: 18px;
  margin-top: 3px;
}

/*********************** SHOW QUIZ PAGE ********************/

.quiz_title {
  text-align: center;
  font-size: 40;
  padding-bottom: 30px;
}

.show_quiz img {
  width: 100%;
}

.question-text {
  margin-left: 15px;
  margin-bottom: 0.5em;
  color: #AF1729;
}

.answer-response {
  font-weight: lighter;
  line-height: 1.5em;
  font-size: 0.8em;
  padding-top: 5px;
  color: #000;
}

.answer-image {
  width: 100%;
}

.answer-input {
  margin-bottom: 15px;
}

.row img {
  width: 100%;
}

.question-row {
  padding-top: 10px;
  padding-bottom: 20px;
}

.submit-quiz-button {
  position: relative;
  width: 100%;
  text-align: center;
}

#show-score-container {
  height: 200px;
}

#show-score {
  text-align: center;
  width: 100%;
  padding-top: 2.5em;
  font-size: 2em;
  color: #AF1729;
  margin-bottom: 100px;
}

.edit_button {
  display: inline-block;
  padding: 1%;
}

.delete_button {
  display: inline-block;
  padding: 1%;
}

/******************* Attempts page *****************/

.quiz-title{
  color: #fff;
  text-align: right;
  font-size: 0.9em;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
  font-weight: lighter;
  height: 6em;
  margin-bottom: -3em;
  background-color: rgba(0,0,0,0.3);
}

.quiz-background {
  background-color: #fff;
  padding-top: 20px;
}

.background-lining {
  height: 5px;
  width: 100%;
  background-color: #AF1729;
}

.banner_image {
  background: url(../images/coding-pingpong.jpg) no-repeat 0 -50 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
}

#banner-text-container {
  padding-top: 28em;
  max-width: 100%;
}

#banner-text {
  line-height: 1.5em;
  font-weight: lighter;
  font-size: 2em;
  color:#fff;
  background-color: rgba(0,0,0,0.2);
  padding-left:10px;
  padding-right: 10px;
}

.dark-geometric {
  background: url(../images/dark_geometric.png) repeat 0 0 fixed;
}
/******************* Sign in page *****************/

.sign-in-box {
  padding-top: 200px;
  position: absolute;
}

.sign-in-banner-image {
  height: 100%;
  width: 100%;
  background: url(../images/coding-pingpong.jpg) no-repeat 0 -50 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/******************* Admin pages *****************/

.admin_banner_image {
  background: url(../images/coding-pingpong.jpg) no-repeat 0 -50 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 300px;
}

.quiz-index-title {
  color: #fff;
  font-weight: lighter;
  font-size: 2em;
  margin-bottom: 30px;
}

.quiz-index-text {
  color: #AF1729;
  text-decoration: none;
  margin-top: 0;
}

.question-image {
  margin-bottom: 40px;
}


.quiz-index-text:hover {
  text-decoration: none;
}

/******************* Holding page *****************/

.dark-geometric-bg {
  min-width: 100%;
  min-height: 100%;
  background: url(../images/dark_geometric.png) repeat 0 0 fixed;
  margin-top: -40px;
}

.holding-banner-image {
  background: url(../images/holding-banner.jpg) no-repeat 0 -100 fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
}

.new_admin_banner{

}

.edit_quiz_banner {

}

.quiz_index_banner {

}

.new_quiz_banner {

}


.navbar-default .navbar-nav>li>a.red-font {
  color: #AF1729;
}

.navbar-default .navbar-nav>li>a.white-font {
  color: #fff;
  padding-top: 25px;
}

.margin-right-30 {
  margin-right: 30; 
}

.sign-out {
  padding-left: 15px;
}

.set-btn-width {
  width: 150px;
  padding: 6px 12px;
}

.visitor-background {
  min-height: 200px;
}

#edit-quiz input {
  width: 100%;
}

.footer {
  height: 100px;
}

.small-size {
  font-size: 0.8em;
}

.text-red {
  color: #AF1729;
}

.q-description {
  font-size: 1em;
}

.row {
  margin-right: 0px;
}

.reset-margin {
  margin-right: -15px;
}


