- email = @admin.email

%h2 Edit Details

%form{action: "/admins/edit", method: "POST"}
  %li
    %label Email
    %input{"..." => "", name: "email", id: 'email'}
  %input{type: "submit", value: "Submit", id: 'submit'}