.row.question-row
  .row
    .col-md-12.question-text
      Your Deets:
      .row
        .col-md-6
          %div
            %label.answer-response
              What's your email?
            %input{type: "text", "..." => "", name: "email", id: "title"}
          %div
            %label.answer-response
              What's your first name?
            %input{type: "text", "..." => "", name: "name", id: "title"}
          %div
            %label.display_quiz_label I'm interested in hearing from Makers Academy in future...
          %div
            %input{type: "checkbox", name: "contact", class: "display_checkbox", value: "yes", onClick: "checkedRadioButton(this)"}
              %label.answer-response
                Yes I am
          %div
            %input{type: "checkbox", name: "contact", class: "display_checkbox", value: "no", onClick: "checkedRadioButton(this)"}
              %label.answer-response
                No thanks