.col-md-12.banner_image
  .col-md-4.col-md-offset-1#banner-text-container
    #banner-text 
      Have you got what it takes to Learn to Code?
.col-md-12.dark-geometric
  .row.quiz-title
    .col-md-10.col-md-offset-1
      / = @quiz.title
      Take this simple quiz to see if you have the raw ingredients to become a Developer...!
  .col-md-10.col-md-offset-1
    .background-lining
    .col-md-12.quiz-background

      - quiz_id = @quiz ? @quiz.id : 'no-thanks'
      %form{id: "attempts_form", name: "/attempts/#{quiz_id}"}

        = partial :"/attempts/_visitor_description"
        = partial :"/attempts/_display_quiz"
        = partial :"/attempts/_visitor_details"
      
        .submit-quiz-button
          %input{type: "submit", value: "Submit", class: "btn btn-success", id: "submit_quiz"}

        #show-score