.navbar.navbar-fixed-top
  .white_background
    %div{class: "navbar-inner"}
      .container-fluid
        %nav
          %a{href:"http://makersacademy.com/", id: "brand"}
            %img{alt: "Makers Academy", src: "http://www.makersacademy.com/images/logo.png"}
          %ul{class: "nav pull-right"}
            - if current_admin
              %li
                %a.nav{href: "/"}
                  Home
              %li
                %a.nav(href="/quizzes")
                  Quizzes
              %li
                %a.nav(href="/quizzes/new")
                  New Quiz
              %li
                %a.nav(href="/admins")
                  Admins
              %li
                %form{method: "post", action: "/sessions"}
                  %input{type: "hidden", name: "_method", value: "delete"}
                  %input.nav{type: "submit", value: "Sign out", id: "sign_out_button"}
            - else
              %li
                %a.nav{href: "/"}
                  Home