.navbar.navbar-fixed-top
  .white_background
    %div{class: "navbar-inner"}
      .container-fluid
        %nav
          %a{href:"http://makersacademy.com/", id: "brand"}
            %img{alt: "Makers Academy", src: "http://www.makersacademy.com/images/logo.png"}
          %ul{class: "nav pull-right"}
            %a{href: "http://makersacademy.com/apply", class: "btn btn-apply pull-right top-apply"}
              Apply
          .links_container
            %ul{class: "pull-right"}
              %li{ class: "visible-desktop"}
                %a{ href: "http://www.twitter.com/MakersAcademy", target: "_blank"}
                  .m-icon-twitter
              %li
                %a{href: "http://blog.makersacademy.com/"}
                  BLOG
              %li
                %a{href: "http://makersacademy.com/info/faq"}
                  FAQ