/ %p hello world

/ .quiz
/   - if @quiz
/     = @quiz.title
/     - @quiz.questions.each do |question|
/       = question.question_text
/       - if question.image
/         - image = question.image.filename
/         %img{src: "https://s3.amazonaws.com/MakersQuizApp/#{image}"}
/       - question.answers.each do |answer|
/         = answer.response
/         = answer.correctness
/         - if answer.image
/           - image = answer.image.filename
/           %img{src: "https://s3.amazonaws.com/MakersQuizApp/#{image}"}