%html
  %head
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{src: "/javascript/application.js"}
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
  %body
    = partial :_header
    #padding
    #content
      - if flash[:errors] && !flash[:errors].empty?
        Sorry, there were the following problems with the form. 
        %ul{ id: "errors" }
        - flash[:errors].each do |error|
          = error
      - if flash[:notice]
        #notice
          = flash[:notice]
      = yield