%html
  %head
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"}
    %script{src: "/javascript/application.js"}
    %link(rel="stylesheet" type="text/css" href="/css/reset.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
    %link(rel="stylesheet" type="text/css" href="/css/application.css")
  %body
    .dark-geometric-bg
      - if @homepage == true
        = partial :_home_page_header
      - else
        = partial :_header
      #content
        = yield